$module: 'random-target';
$namespace: 'rt';

$maxVisible: 6;
$inputWidth: 32;
$rowHeight: 36;
$rowVerticalPadding: 4;

$imageSize: $rowHeight;
$rowLabelHeight: $rowHeight + (2 * $rowVerticalPadding);
$scrollableMaxHeight: $rowLabelHeight + (($maxVisible - 1) * ($rowLabelHeight + 1)) * 1px;


body {
  &.theme-light .application.#{$module} {
    --#{$namespace}-color-bg-selected: rgba(255, 255, 255, .3);
    --#{$namespace}-color-border: rgba(0, 0, 0, .2);
    --#{$namespace}-color-default: var(--color-dark-1);
    --#{$namespace}-color-defeated: var(--color-warm-3);
    --#{$namespace}-color-selected: var(--color-text-accent);
    --#{$namespace}-color-icon: var(--color-dark-6);
  }

  &.theme-dark .application.#{$module} {
    --#{$namespace}-color-bg-selected: rgba(255, 255, 255, .05);
    --#{$namespace}-color-border: rgba(255, 255, 255, .1);
    --#{$namespace}-color-default: var(--color-light-1);
    --#{$namespace}-color-defeated: var(--color-warm-3);
    --#{$namespace}-color-selected: var(--color-text-accent);
    --#{$namespace}-color-icon: var(--color-light-5);
  }
}

/**
 * Main app styles
 */

.application.#{$module} {
  [data-application-part="error"] {
    display: none !important;
  }

  &.error-mode {
    [data-application-part="error"] {
      display: block !important;
    }

    [data-application-part]:not([data-application-part="error"]) {
      display: none !important;
    }
  }

  .window-content {
    padding: 0;
  }

  .form-footer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px;
    border-top: 1px solid var(--color-tabs-border);

    button {
      --button-size: calc(#{$imageSize * 1px});
      flex: 1;
    }
  }

  .scrollable-content {
    overflow-y: auto;
    height: auto;
    max-height: $scrollableMaxHeight;
    scrollbar-width: thin;
    display: flex;

    .content {
      flex: 1;
    }

    .error-message {
      flex: 1;
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 32px 0;
    }
  }

  .target-item, .target-item * {
    cursor: var(--cursor-pointer);
  }

  .target-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    height: $rowHeight * 1px;
    padding: ($rowVerticalPadding * 1px) 0;
    box-sizing: content-box;
    position: relative;
    border-top: 1px solid var(--#{$namespace}-color-border);

    &:first-of-type {
      border-top: 0;
      margin-top: 0;
    }

    &.target-defeated {
      .target-name-text {
        color: var(--#{$namespace}-color-defeated);
        text-decoration: line-through;
      }
    }

    input[type="checkbox"] {
      z-index: 2;
      margin-left: 6px;
      margin-right: 6px;
      margin-top: 4px;
    }

    label {
      height: $rowLabelHeight * 1px;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: stretch;
      color: var(--#{$namespace}-color-default);
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: 1;
      padding-left: $inputWidth * 1px;
      transition: background 150ms ease;

      span {
        margin-left: 6px;
        color: var(--color-text-secondary);
      }
    }

    input[type="checkbox"]:checked ~ label.target-label {
      background: var(--#{$namespace}-color-bg-selected);
      color: var(--#{$namespace}-color-selected);
    }

    .target-name {
      font-size: 14px;
      line-height: normal;
      padding: 0 6px;
      display: flex;
      flex: 1;
      overflow: hidden;
      align-items: center;
      gap: 4px;

      i {
        flex: 0 0 auto;
        font-size: 12px;
        color: var(--#{$namespace}-color-icon);
      }
    }

    .target-name-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-weight: 600;
      flex: 1;
    }

    .target-image {
      flex: 0 0 $imageSize * 1px;
      width: $imageSize * 1px;
      height: $imageSize * 1px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    video, img {
      border: 0;
      display: block;
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
}

/**
 * Chat styles
 */

.#{$module}-message {
  .#{$module}-message-target {
    font-weight: bold;
    border-radius: 3px;

    .fas {
      margin-right: 2px;
    }
  }

  p {
    margin: 0;
    padding: 4px 0 4px 0;
  }

  .target-result.expanded .target-details {
    grid-template-rows: 1fr;
  }

  .target-details {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 250ms ease;

    ul {
      margin: 5px 0 0 0;

      span {
        margin-left: -2px;

        &.target {
          font-weight: bold;
        }
      }
    }
  }

  .target-details > div {
    overflow: hidden;
  }

  .target-details section {
    background: rgba(0, 0, 0, 0.08);
    margin-top: 4px;
    padding: 8px;
    border-radius: 3px;
    color: var(--color-border-dark-3);
  }
}

##{$module}-categories-setting {
  .item-list {
    margin-bottom: 12px;

    .item {
      display: flex;
      align-items: center;
      padding: 4px 0;
      cursor: move;

      input {
        cursor: pointer;
      }

      i.fa-circle-info {
        font-size: 14px;
        color: var(--color-text-dark-2);
        cursor: help;
      }

      i.fa-grip-dots-vertical {
        pointer-events: none;
        opacity: 0.5;
        margin-left: 4px;
      }

      .category-details {
        margin-left: 4px;
        flex: 1;

        .label {
          font-size: 14px;
          color: var(--color-text-dark-primary);
        }

        .description {
          font-size: 13px;
          color: var(--color-text-dark-6);

          code {
            color: var(--color-text-dark-4);
            background: rgba(0, 0, 0, 0.05);
            padding: 0 2px;
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
            border-radius: 3px;
            font-family: inherit;
            margin: 0 2px;
            display: inline-block;
            border: 0;
            pointer-events: none;
          }
        }
      }

      &.drop-target {
        box-shadow: inset 0 0 0 2px var(--color-border-highlight);
      }
    }
  }
}

/**
 * System overrides: WFRP
 */

.system-wfrp4e {
  .application.#{$module} {
    .window-content {
      padding: 14px 12px;
    }

    .tabs {
      margin-bottom: 4px;
    }

    .form-footer {
      border-color: transparent;

      button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  .#{$module}-message {
    .#{$module}-message-target {
      i {
        color: black;
      }
    }

    p {
      padding-top: 8px;
    }

    .dice-roll, & > * {
      cursor: var(--cursor-pointer);
    }
  }

  ##{$module}-categories-setting {
    .item {
      .category-details {
        .description {
          color: var(--color-text-light-7);

          code {
            background: rgba(255, 255, 255, 0.08);
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.08);
            color: var(--color-text-light-5);
          }
        }
      }

      i.fa-circle-info {
        color: var(--color-text-light-5);
      }
    }
  }
}
