$module: 'random-target';
$targetItemsTotal: 6;
$targetItemHeight: 32;
$targetItemMarginTop: 5;

$systemsPath: '../../systems';

.window-app.#{$module} {
  .tabs {
    display: flex;
    justify-content: unset;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    height: 40px;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;

    .item {
      flex: 0 0 auto;
      display: inline-flex;
      height: 30px;
      font-size: 15px;
      align-items: center;
      justify-content: center;
      overflow: auto;
      padding: 0 6px;

      &.active {
        font-weight: bold;
      }

      &:first-of-type {
        margin-left: auto;
      }

      &:last-of-type {
        margin-right: auto;
      }
    }
  }

  .error-message {
    align-self: center;
    display: flex;
    align-items: center;
  }

  .target-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin-top: $targetItemMarginTop * 1px;
    height: $targetItemHeight * 1px;

    &,
    & * {
      cursor: pointer !important;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    &:first-of-type {
      margin-top: 0;
    }

    label {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: stretch;
      color: var(--color-text-dark-1);
      overflow: hidden;
    }

    .name {
      font-size: 14px;
      line-height: normal;
      padding: 0 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .image {
      flex: 0 0 $targetItemHeight * 1px;
      width: $targetItemHeight * 1px;
      height: $targetItemHeight * 1px;
      position: relative;
      margin-left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    video, img {
      border: 0;
      display: block;
      object-fit: contain;
      height: 100%;
      width: 100%;
    }

    &.defeated {
      .name {
        color: var(--color-text-dark-6);
      }
    }
  }

  .scrollable-content {
    overflow-y: auto;
    height: $targetItemHeight + ($targetItemsTotal - 1) * ($targetItemHeight + $targetItemMarginTop) * 1px;
    scrollbar-width: thin;
  }

  .footer {
    margin-top: 15px;

    .selected-tokens-count {
      opacity: 0.5;
    }
  }

  button:disabled {
    cursor: not-allowed;
    color: var(--color-text-dark-6);
  }
}

.#{$module}-message {
  .#{$module}-message-target {
    font-weight: bold;
    border-radius: 3px;

    .fas {
      margin-right: 2px;
    }
  }

  p {
    margin: 0;
    padding: 4px 0 4px 0;
  }

  .target-result.expanded .target-details {
    grid-template-rows: 1fr;
  }

  .target-details {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 250ms ease;

    ul {
      margin: 5px 0 0 0;

      span {
        margin-left: -2px;

        &.target {
          font-weight: bold;
        }
      }
    }
  }

  .target-details > div {
    overflow: hidden;
  }

  .target-details section {
    background: rgba(0, 0, 0, 0.08);
    margin-top: 4px;
    padding: 8px;
    border-radius: 3px;
    color: var(--color-border-dark-3);
  }
}

##{$module}-categories-setting {
  .item-list {
    margin-bottom: 12px;

    .item {
      display: flex;
      align-items: center;
      padding: 4px 0;
      cursor: move;

      input {
        cursor: pointer;
      }

      i.fa-circle-info {
        font-size: 14px;
        color: var(--color-text-dark-2);
        cursor: help;
      }

      i.fa-grip-dots-vertical {
        pointer-events: none;
        opacity: 0.5;
        margin-left: 4px;
      }

      .category-details {
        margin-left: 4px;
        flex: 1;

        .label {
          font-size: 14px;
          color: var(--color-text-dark-primary);
        }

        .description {
          font-size: 13px;
          color: var(--color-text-dark-6);

          code {
            color: var(--color-text-dark-4);
            background: rgba(0, 0, 0, 0.05);
            padding: 0 2px;
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
            border-radius: 3px;
            font-family: inherit;
            margin: 0 2px;
            display: inline-block;
            border: 0;
            pointer-events: none;
          }
        }
      }

      &.drop-target {
        box-shadow: inset 0 0 0 2px var(--color-border-highlight);
      }
    }
  }
}

// Foundry settings style overrides

#client-settings section.category[data-tab='#{$module}'] .form-group .form-fields {
  flex: 0;
}

// System overrides

.system-wfrp4e {
  .#{$module}-message {
    .#{$module}-message-target {
      i {
        color: black;
      }
    }

    p {
      padding-top: 8px;
    }

    .dice-roll, & > * {
      cursor: var(--cursor-pointer);
    }
  }

  ##{$module}-categories-setting {
    .item {
      .category-details {
        .description {
          color: var(--color-text-light-7);

          code {
            background: rgba(255, 255, 255, 0.08);
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.08);
            color: var(--color-text-light-5);
          }
        }
      }

      i.fa-circle-info {
        color: var(--color-text-light-5);
      }
    }
  }
}

.system-forbidden-lands .app.window-app.#{$module} {
  .target-item.defeated .name {
    color: var(--color-text-light-4);
  }

  button:disabled {
    color: var(--color-text-light-5);
  }

  .window-header a.header-button.settings:hover {
    max-width: 200px;
    color: #292929f0;
  }
}
