$targetItemsTotal: 6;
$targetItemHeight: 32;
$targetItemMarginTop: 5;

.app.window-app.randomtarget {
  .tabs {
    justify-content: stretch;
    align-items: center;
    margin-bottom: 10px;

    .item {
      flex: 1;
      display: flex;
      height: 32px;
      font-size: 16px;
      align-items: center;
      justify-content: center;

      &.active {
        font-weight: bold;
      }
    }
  }

  .error-message {
    align-self: center;
    display: flex;
    align-items: center;
  }

  .target-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin-top: $targetItemMarginTop * 1px;
    height: $targetItemHeight * 1px;

    &:hover {
      background: rgba(255, 255, 255, .1);
    }

    label {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: stretch;
    }

    span {
      font-size: 14px;
      line-height: 1;
      padding: 0 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    img {
      width: $targetItemHeight * 1px;
      height: $targetItemHeight * 1px;
      border: 0;
      display: block;
      margin-left: 5px;
    }
  }

  .scrollable-content {
    overflow-y: auto;
    height: $targetItemsTotal * ($targetItemHeight + $targetItemMarginTop) * 1px;
  }

  .footer {
    margin-top: 15px;

    .selected-tokens-count {
      opacity: 0.5;
    }
  }

  button:disabled {
    cursor: not-allowed;
    color: var(--color-text-dark-6);
  }
}

// System Overrides

.system-wfrp4e .app.window-app.randomtarget {
  button:disabled {
    box-shadow: none !important;
  }
}

.system-forbidden-lands .app.window-app.randomtarget {
  button:disabled {
    color: var(--color-text-light-5);
  }
}
