$module: "random-target";
$targetItemsTotal: 6;
$targetItemHeight: 32;
$targetItemMarginTop: 5;

.window-app.#{$module} {
  .tabs {
    display: flex;
    justify-content: unset;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    height: 40px;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;

    .item {
      flex: 0 0 auto;
      display: inline-flex;
      height: 30px;
      font-size: 15px;
      align-items: center;
      justify-content: center;      
      overflow: auto;
      padding: 0 6px;

      &.active {
        font-weight: bold;
      }

      &:first-of-type {
        margin-left: auto;
      }

      &:last-of-type {
        margin-right: auto;
      }
    }
  }

  .error-message {
    align-self: center;
    display: flex;
    align-items: center;
  }

  .target-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin-top: $targetItemMarginTop * 1px;
    height: $targetItemHeight * 1px;

    &:hover {
      background: rgba(255, 255, 255, .1);
    }

    &:first-of-type {
      margin-top: 0;
    }

    label {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: stretch;
      color: var(--color-text-dark-1);
      overflow: hidden;
    }

    .name {
      font-size: 14px;
      line-height: normal;
      padding: 0 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;      
    }

    .image {
      flex: 0 0 $targetItemHeight * 1px;
      width: $targetItemHeight * 1px;
      height: $targetItemHeight * 1px;
      position: relative;
      margin-left: 5px;
    }

    img {
      width: $targetItemHeight * 1px;
      height: $targetItemHeight * 1px;
      border: 0;
      display: block;
      object-fit: cover;
    }

    &.defeated {
      .name {
        color: var(--color-text-dark-6);
      }
    }
  }

  .scrollable-content {
    overflow-y: auto;
    height: $targetItemHeight + ($targetItemsTotal - 1) * ($targetItemHeight + $targetItemMarginTop) * 1px;
    scrollbar-width: thin;
  }

  .footer {
    margin-top: 15px;

    .selected-tokens-count {
      opacity: 0.5;
    }
  }

  button:disabled {
    cursor: not-allowed;
    color: var(--color-text-dark-6);
  }
}

// System Overrides

.system-wfrp4e .app.window-app.#{$module} {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-button {
    display: none !important;
  }

  ::-webkit-scrollbar-thumb {
    background: #782e22;
    border-image: none;
    border-radius: 0;
  }

  ::-webkit-scrollbar-track {
    background: #111;
  }

  .tabs {
    background: rgba(0, 0, 0, 0.4);
  }

  button:disabled {
    box-shadow: none !important;
  }

  .target-item {
    label {
      color: white;
    }

    &.defeated .name {
      color: var(--color-text-light-7);
    }
  }
}

.system-forbidden-lands .app.window-app.#{$module} {
  .target-item.defeated .name {
    color: var(--color-text-light-4);
  }

  button:disabled {
    color: var(--color-text-light-5);
  }
}
