$module: 'random-target';
$namespace: 'rt';

$maxVisible: 6;
$inputWidth: 32;
$rowHeight: 36;
$rowVerticalPadding: 4;

$imageSize: $rowHeight;
$rowLabelHeight: $rowHeight + (2 * $rowVerticalPadding);
$scrollableMaxHeight: $rowLabelHeight + (($maxVisible - 1) * ($rowLabelHeight + 1)) * 1px;

body {
  &.theme-light .application.#{$module} {
    --#{$namespace}-color-bg-selected: rgba(255, 255, 255, .3);
    --#{$namespace}-color-border: rgba(0, 0, 0, .2);
    --#{$namespace}-color-default: var(--color-dark-1);
    --#{$namespace}-color-defeated: var(--color-warm-3);
    --#{$namespace}-color-selected: var(--color-warm-2);
    --#{$namespace}-color-icon: var(--color-dark-6);
    --#{$namespace}-color-tabs-text-hover: var(--color-dark-1);
    --#{$namespace}-color-tabs-text-active: white;
    --#{$namespace}-color-tabs-bg: rgba(0 0 0 / 10%);
    --#{$namespace}-color-tabs-bg-hover: rgba(0 0 0 / 15%);
    --#{$namespace}-color-tabs-bg-active: var(--color-warm-2);
    --#{$namespace}-color-tabs-border: var(--color-dark-5);
    --#{$namespace}-color-status: var(--color-dark-6);
    --#{$namespace}-color-tabs-indicator-border: #d8d6ca;
    --#{$namespace}-opacity-status-muted: 0.6;
  }

  &.theme-dark .application.#{$module} {
    --#{$namespace}-color-bg-selected: rgba(255, 255, 255, .05);
    --#{$namespace}-color-border: rgba(255, 255, 255, .1);
    --#{$namespace}-color-default: var(--color-light-1);
    --#{$namespace}-color-defeated: var(--color-warm-3);
    --#{$namespace}-color-selected: var(--color-text-accent);
    --#{$namespace}-color-icon: var(--color-light-5);
    --#{$namespace}-color-tabs-text-hover: white;
    --#{$namespace}-color-tabs-text-active: white;
    --#{$namespace}-color-tabs-bg: var(--color-cool-5-50);
    --#{$namespace}-color-tabs-bg-hover: var(--color-cool-5-50);
    --#{$namespace}-color-tabs-bg-active: var(--color-warm-2);
    --#{$namespace}-color-tabs-border: var(--color-light-5);
    --#{$namespace}-color-status: var(--color-light-6);
    --#{$namespace}-color-tabs-indicator-border: rgba(0, 0, 0, .75);
    --#{$namespace}-opacity-status-muted: 0.75;
  }
}

/**
 * System-friendly definitions
 */

body:not(.theme-dark.system-wfrp4e) {
  .application.#{$module} {
    nav.tabs {
      gap: 6px;
      line-height: 1;
      flex-flow: row wrap;
      justify-content: center;
      border: 0;
      padding: 8px 0;

      [data-tab] {
        padding: 6px 6px 5px;
        border-radius: 4px;
        background: var(--#{$namespace}-color-tabs-bg);
        border: 1px solid var(--#{$namespace}-color-tabs-border);
        font-size: 13px;

        &:hover {
          color: var(--#{$namespace}-color-tabs-text-hover);
          background: var(--#{$namespace}-color-tabs-bg-hover);
        }

        &.active {
          background: var(--#{$namespace}-color-tabs-bg-active);
          border-color: var(--#{$namespace}-color-tabs-bg-active);
        }

        &.active, &:hover.active {
          color: var(--#{$namespace}-color-tabs-text-active);
        }

        &:hover, &.active, &:hover.active {
          text-shadow: none;
        }
      }
    }
  }

  .form-status {
    .status-value.status-value-muted {
      opacity: var(--#{$namespace}-opacity-status-muted);
    }
  }
}

/**
 * Main app styles
 */

.application.#{$module} {
  [data-application-part="error"] {
    display: none !important;
  }

  &.error-mode {
    [data-application-part="error"] {
      display: block !important;
    }

    [data-application-part]:not([data-application-part="error"]) {
      display: none !important;
    }
  }


  nav.tabs {
    [data-tab] {
      transition: all 100ms ease;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background: var(--color-warm-3);
        border-radius: 50%;
        width: 8px;
        height: 8px;
        top: -2px;
        right: -2px;
        box-shadow: 0 0 0 1px var(--#{$namespace}-color-tabs-indicator-border);
        pointer-events: none;
        opacity: 0;
        transition: all 150ms ease;
      }

      &.has-selected-candidates::before {
        opacity: 1;
      }
    }
  }

  .window-content {
    padding: 0;
  }

  .form-footer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px 8px 0 8px;
    border-top: 1px solid var(--color-tabs-border);

    button {
      --button-size: calc(#{$imageSize * 1px});
      flex: 1;
      transition: all 100ms ease;

      &[disabled] {
        cursor: not-allowed;
      }
    }
  }

  .form-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 8px 6px;

    .status-value {
      color: var(--#{$namespace}-color-status);
      font-size: 13px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 4px;
      transition: opacity 150ms ease;

      i {
        margin-top: -1px;
      }
    }
  }

  .scrollable-content {
    overflow-y: auto;
    height: auto;
    max-height: $scrollableMaxHeight;
    scrollbar-width: thin;
    display: flex;

    .content {
      flex: 1;
    }

    .error-message {
      flex: 1;
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 32px 0;
    }
  }

  .target-item, .target-item * {
    cursor: var(--cursor-pointer);
  }

  .target-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    height: $rowHeight * 1px;
    padding: ($rowVerticalPadding * 1px) 0;
    box-sizing: content-box;
    position: relative;
    border-top: 1px solid var(--#{$namespace}-color-border);

    &:first-of-type {
      border-top: 0;
      margin-top: 0;
    }

    &.target-defeated {
      .target-name-text {
        color: var(--#{$namespace}-color-defeated);
        text-decoration: line-through;
      }
    }

    input[type="checkbox"] {
      z-index: 2;
      margin-left: 6px;
      margin-right: 6px;
      margin-top: 4px;
    }

    label {
      height: $rowLabelHeight * 1px;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: stretch;
      color: var(--#{$namespace}-color-default);
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: 1;
      padding-left: $inputWidth * 1px;
      transition: background 150ms ease;

      span {
        margin-left: 6px;
        color: var(--color-text-secondary);
      }
    }

    input[type="checkbox"]:checked ~ label.target-label {
      background: var(--#{$namespace}-color-bg-selected);
      color: var(--#{$namespace}-color-selected);
    }

    .target-name {
      font-size: 14px;
      line-height: normal;
      padding: 0 6px;
      display: flex;
      flex: 1;
      overflow: hidden;
      align-items: center;
      gap: 4px;

      i {
        flex: 0 0 auto;
        font-size: 12px;
        color: var(--#{$namespace}-color-icon);
      }
    }

    .target-name-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-weight: 600;
      flex: 1;
    }

    .target-image {
      flex: 0 0 $imageSize * 1px;
      width: $imageSize * 1px;
      height: $imageSize * 1px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    video, img {
      border: 0;
      display: block;
      object-fit: contain;
      height: 100%;
      width: 100%;
    }

    img[src$="mystery-man.svg"] {
      transform: scale(0.8);
    }
  }
}

/**
 * Chat styles
 */

.#{$module}-message {
  .#{$module}-message-target {
    font-weight: bold;
    border-radius: 3px;

    .fas {
      margin-right: 2px;
    }
  }

  p {
    margin: 0;
    padding: 4px 0 4px 0;
  }

  .target-result.expanded .target-details {
    grid-template-rows: 1fr;
  }

  .target-details {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 250ms ease;

    ul {
      margin: 5px 0 0 0;

      span {
        margin-left: -2px;

        &.target {
          font-weight: bold;
        }
      }
    }
  }

  .target-details > div {
    overflow: hidden;
  }

  .target-details section {
    background: rgba(0, 0, 0, 0.08);
    margin-top: 4px;
    padding: 8px;
    border-radius: 3px;
    color: var(--color-border-dark-3);
  }
}

/**
 * Category settings styles
 */

##{$module}-categories-setting {
  .item-list {
    margin-bottom: 12px;

    .item {
      display: flex;
      align-items: center;
      padding: 4px 0;
      cursor: move;

      input {
        cursor: pointer;
      }

      i.fa-circle-info {
        font-size: 14px;
        color: var(--color-text-dark-2);
        cursor: help;
      }

      i.fa-grip-dots-vertical {
        pointer-events: none;
        opacity: 0.5;
        margin-left: 4px;
      }

      .category-details {
        margin-left: 4px;
        flex: 1;

        .label {
          font-size: 14px;
          color: var(--color-text-dark-primary);
        }

        .description {
          font-size: 13px;
          color: var(--color-text-dark-6);

          code {
            color: var(--color-text-dark-4);
            background: rgba(0, 0, 0, 0.05);
            padding: 0 2px;
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
            border-radius: 3px;
            font-family: inherit;
            margin: 0 2px;
            display: inline-block;
            border: 0;
            pointer-events: none;
          }
        }
      }

      &.drop-target {
        box-shadow: inset 0 0 0 2px var(--color-border-highlight);
      }
    }
  }
}

/**
 * Support dialog styles
 */

##{$module}-support-dialog {
  .dialog-content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .dialog-heading {
      font-size: 20px;
      line-height: 1;
    }

    .dialog-text {
      font-size: 15px;
    }

    .dialog-gif {
      display: flex;
      justify-content: center;

      img {
        height: 128px;
      }
    }
  }
}

/**
 * System overrides: WFRP
 */

body.theme-dark.system-wfrp4e {
  .application.#{$module} {
    .window-content {
      padding: 14px 12px;
    }

    nav.tabs {
      gap: 6px;
      line-height: 1;
      flex-flow: row wrap;
      justify-content: center;
      margin-bottom: 4px;

      [data-tab] {
        padding: 4px 6px 3px;
        font-size: 13px;

        &::before {
          width: 8px;
          height: 8px;
          top: -2px;
          right: -2px;
        }
      }
    }

    .form-footer {
      border-color: transparent;

      button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .form-status {
      .status-value {
        color: var(--color-light-4);
        font-size: 14px;

        &.status-value-muted {
          color: var(--color-light-6);
        }
      }
    }
  }

  .#{$module}-message {
    .#{$module}-message-target {
      i {
        color: black;
      }
    }

    p {
      padding-top: 8px;
    }

    .dice-roll, & > * {
      cursor: var(--cursor-pointer);
    }
  }

  ##{$module}-categories-setting {
    .item {
      .category-details {
        .description {
          color: var(--color-text-light-7);

          code {
            background: rgba(255, 255, 255, 0.08);
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.08);
            color: var(--color-text-light-5);
          }
        }
      }

      i.fa-circle-info {
        color: var(--color-text-light-5);
      }
    }
  }
}
